
#tabs{
	display: block;
}

#color-tabs{
	display: block;
	margin-bottom: 0em;
}
#red-tab{
	height: 5em;
	width: 5em;
	border: solid black 3px;
	float: left;
	background-color: red;
}
#green-tab{
	height: 5em;
	width: 5em;
	border: solid black 3px;
	float: left;
	background-color: green;

}
#blue-tab{
	height: 5em;
	width: 5em;
	border: solid black 3px;
	float: left;
	background-color: blue;

}
#color-text{
	height: 20em;
	width: 20em;
	border: 3px solid black;
	display: block;
}